# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Dados brutos
data/raw/*

# Dados processados
data/processed/*

# Manter a pasta no Git
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/README.md

# Arquivos grandes
*.7z
*.zip
*.csv
*.txt
*.comt